form{
    border:solid 1px;
    width : 50%;
    padding :25px;
    margin: 0 auto;
    
}
.input{
padding:15px 16px;
width:80%;
border-radius: 8%;
border:solid 1px;




}
.button{
padding: 10px 12px;
border: none;
border-radius:5px;
color:rgb(34, 0, 128);
}